{# Template for authorized_keys file #}
{{ ansible_managed | comment }}
{% if item.ssh_authorized_keys | length %}
{% for authorized_key in item.ssh_authorized_keys %}
{{ authorized_key }}
{% endfor %}
{% endif %}
{% if item.ssh_private_key_authorized %}
{{ user_data.results | gummigudm.linux.access_users_public_key(item.name) }}
{% endif %}
