{# Template for main configuration file #}
{{ ansible_managed | comment }}
#!/usr/sbin/nft -f

# clean
flush ruleset

include "{{ firewall_vars_conf_dir }}/defines.nft";

table inet firewall {



    {% if firewall_config_allow_ping %}
    ip protocol icmp accept
    {% endif %}

    include "{{ firewall_vars_conf_dir }}/sets.nft";
    include "{{ firewall_vars_conf_dir }}/firewall_chains.nft";
    {% endif %}

}

{% if firewall_settings_enable_nat_management  and not firewall_settings_basic_config %}
table ip nat {

    include "{{ firewall_vars_conf_dir }}/sets.nft";
    include "{{ firewall_vars_conf_dir }}/nat_chains.nft";

}
{% endif %}
