{# Template for authorized_keys file #}
{{ ansible_managed | comment }}

{# Settings #}
# User Interface
ui = {{ 'true' if vault_config_ui else 'false' }}

# Memory Lock
disable_mlock = {{ 'false' if vault_config_mlock else 'true' }}

{# Storage configuration #}
# Storage
{% if vault_config_storage.type == 'consul' %}
storage "consul" {
  path    = "{{ vault_config_storage.path }}"
  address = "{{ vault_config_storage.address }}:{{ vault_config_storage.port | default('8500', true) }}"
}
{% elif vault_config_storage.type == 'raft' %}
storage "raft" {
  path    = "{{ vault_config_storage.path }}"
  node_id = "{{ vault_config_storage.node_id }}"
}
{% else %}
storage "file" {
  path = "{{ vault_config_storage.path }}"
}
{% endif %}

{# Listener configuration #}
# Listeners
{% for listener in vault_config_listeners %}
listener "tcp" {
  address       = "{{ listener.address }}:{{ listener.port | default('8200', true) }}"
{% if listener.cert is defined and listener.key is defined %}
  tls_cert_file = "{{ listener.cert }}"
  tls_key_file  = "{{ listener.key }}"
{% else %}
  tls_disable   = 1
{% endif %}
}
{% endfor %}

{# Cluster configuration #}
{% for listener in vault_config_listeners %}
{% if listener.cluster_port is defined %}
# Cluster
api_addr     = "{{ 'https://' if listener.cert is defined else 'http://' }}{{ listener.address }}:{{ listener.port | default('8200', true) }}"
cluster_addr = "https://{{ listener.address }}:{{ listener.cluster_port }}"
{% endif %}
{% endfor %}
